# Environment variables for the server
PORT=8000
MONGO_URI=YOUR_MONGO_db_CONNECTION_STRING_HERE
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY_HERE
CLIENT_URL=http://localhost:5173

#ADMIN CREDENTIALS
ADMIN_EMAIL= "admin@example.com"
ADMIN_PASSWORD= "admin123"

#imageKit
IMAGEKIT_PUBLIC_KEY=YOUR_IMAGEKIT_PUBLIC_KEY_HERE
IMAGEKIT_PRIVATE_KEY=YOUR_IMAGEKIT_PRIVATE_KEY_HERE
IMAGEKIT_URL_ENDPOINT=YOUR_IMAGEKIT_URL_ENDPOINT_HERE

#AI api key
GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE

#RESEND API_KEY
RESEND_API_KEY=YOUR_RESEND_API_KEY_HERE

#GOOGLE CLIENT ID
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE